In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import matplotlib as mpl

In [3]:
mpl.rc('font', family='Noto Sans CJK TC')

In [4]:
df = pd.read_csv('https://stats.moe.gov.tw/files/detail/107/107_student.csv')

In [5]:
df.head()

,大專校院校別學生數,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,107 學年度 SY2018-2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男生,一年級女生,二年級男生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
2,0001,國立政治大學,D 日,D 博士,965,551,414,96,85,82,...,71,52,58,46,74,40,-,-,30 臺北市,1 一般
3,0001,國立政治大學,D 日,M 碩士,"3,998","1,854","2,144",624,742,632,...,-,-,-,-,-,-,-,-,30 臺北市,1 一般
4,0001,國立政治大學,D 日,B 學士,"9,630","3,983","5,647",899,"1,287",890,...,-,-,-,-,-,-,326,463,30 臺北市,1 一般

In [6]:
colnames = df.loc[1].values

In [7]:
df = df[2:]

In [8]:
df.columns = colnames

In [9]:
df.head()

,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男生,一年級女生,二年級男生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
2,0001,國立政治大學,D 日,D 博士,965,551,414,96,85,82,...,71,52,58,46,74,40,-,-,30 臺北市,1 一般
3,0001,國立政治大學,D 日,M 碩士,"3,998","1,854","2,144",624,742,632,...,-,-,-,-,-,-,-,-,30 臺北市,1 一般
4,0001,國立政治大學,D 日,B 學士,"9,630","3,983","5,647",899,"1,287",890,...,-,-,-,-,-,-,326,463,30 臺北市,1 一般
5,0001,國立政治大學,N 職,M 碩士,"1,750",896,854,303,248,253,...,53,47,-,-,-,-,-,-,30 臺北市,1 一般
6,0002,國立清華大學,D 日,D 博士,"1,664","1,221",443,225,99,201,...,158,50,112,43,168,58,-,-,18 新竹市,1 一般

In [10]:
colnames

array(['學校代碼', '學校名稱', '日間∕進修別', '等級別', '總計', '男生計', '女生計', '一年級男生',
       '一年級女生', '二年級男生', '二年級女生', '三年級男生', '三年級女生', '四年級男生', '四年級女生',
       '五年級男生', '五年級女生', '六年級男生', '六年級女生', '七年級男生', '七年級女生', '延修生男生',
       '延修生女生', '縣市名稱', '體系別'], dtype=object)

In [11]:
undergraduate = df[(df['日間∕進修別'] == 'D 日') & (df['等級別'] == 'B 學士')]

In [12]:
undergraduate.head()

,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男生,一年級女生,二年級男生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
4,0001,國立政治大學,D 日,B 學士,"9,630","3,983","5,647",899,"1,287",890,...,-,-,-,-,-,-,326,463,30 臺北市,1 一般
8,0002,國立清華大學,D 日,B 學士,"8,689","4,696","3,993","1,089",865,"1,087",...,-,-,-,-,-,-,286,166,18 新竹市,1 一般
13,0003,國立臺灣大學,D 日,B 學士,"16,604","9,447","7,157","2,126","1,525","2,110",...,184,98,126,61,102,35,671,537,30 臺北市,1 一般
17,0004,國立臺灣師範大學,D 日,B 學士,"8,079","3,583","4,496",846,"1,066",850,...,-,-,-,-,-,-,240,271,30 臺北市,3 師範
21,0005,國立成功大學,D 日,B 學士,"11,390","7,123","4,267","1,672","1,010","1,651",...,82,68,49,27,53,21,355,149,21 臺南市,1 一般

In [13]:
undergraduate.loc[:,'學校名稱':'一年級女生']

          學校名稱 日間∕進修別   等級別      總計    男生計     女生計  一年級男生  一年級女生
4       國立政治大學    D 日  B 學士   9,630  3,983   5,647    899  1,287
8       國立清華大學    D 日  B 學士   8,689  4,696   3,993  1,089    865
13      國立臺灣大學    D 日  B 學士  16,604  9,447   7,157  2,126  1,525
17    國立臺灣師範大學    D 日  B 學士   8,079  3,583   4,496    846  1,066
21      國立成功大學    D 日  B 學士  11,390  7,123   4,267  1,672  1,010
25      國立中興大學    D 日  B 學士   8,090  4,685   3,405  1,087    799
30      國立交通大學    D 日  B 學士   5,398  3,735   1,663    881    417
34      國立中央大學    D 日  B 學士   6,057  3,872   2,185    931    558
38      國立中山大學    D 日  B 學士   4,726  2,953   1,773    694    412
42    國立臺灣海洋大學    D 日  B 學士   5,769  4,002   1,767    956    455
48      國立中正大學    D 日  B 學士   6,579  3,591   2,988    814    727
52    國立高雄師範大學    D 日  B 學士   3,492  1,676   1,816    452    442
56    國立彰化師範大學    D 日  B 學士   4,924  2,587   2,337    621    569
60      國立陽明大學    D 日  B 學士   2,084  1,167     917    229    176
64      國立臺北大學    D 日  B 學士   5,822  2,655   3,167    617    769
69      國立嘉義大學    D 日  B 學士   7,674  3,928   3,746    927    917
74      國立高雄大學    D 日  B 學士   4,277  2,465   1,812    634    451
79      國立東華大學    D 日  B 學士   7,531  3,616   3,915    824    963
83    國立暨南國際大學    D 日  B 學士   4,599  2,102   2,497    446    600
114   國立臺北藝術大學    D 日  B 學士   1,713    596   1,117    128    244
120   國立臺灣藝術大學    D 日  B 學士   2,459    707   1,752    155    376
126     國立臺東大學    D 日  B 學士   3,473  1,705   1,768    425    456
132     國立宜蘭大學    D 日  B 學士   4,409  2,865   1,544    649    399
137     國立聯合大學    D 日  B 學士   5,901  4,022   1,879    963    460
150   國立臺南藝術大學    D 日  B 學士     774    240     534     57    132
155     國立臺南大學    D 日  B 學士   3,885  1,820   2,065    435    497
160   國立臺北教育大學    D 日  B 學士   3,408  1,174   2,234    270    566
164   國立臺中教育大學    D 日  B 學士   3,275  1,171   2,104    282    513
180     國立體育大學    D 日  B 學士   1,675  1,075     600    272    140
200     國立金門大學    D 日  B 學士   3,153  1,593   1,560    335    377
..         ...    ...   ...     ...    ...     ...    ...    ...
290       長庚大學    D 日  B 學士   5,260  2,652   2,608    557    615
294       元智大學    D 日  B 學士   7,113  4,053   3,060    950    733
298       中華大學    D 日  B 學士   5,020  3,121   1,899    767    452
304       大葉大學    D 日  B 學士   8,019  4,191   3,828    892    882
310       華梵大學    D 日  B 學士   1,447    788     659    166    139
314       義守大學    D 日  B 學士  12,546  6,278   6,268  1,469  1,609
320       世新大學    D 日  B 學士   9,671  3,409   6,262    823  1,489
326       銘傳大學    D 日  B 學士  17,333  6,868  10,465  1,664  2,520
330       實踐大學    D 日  B 學士  11,258  3,713   7,545    807  1,903
342     高雄醫學大學    D 日  B 學士   5,546  2,445   3,101    481    738
347       南華大學    D 日  B 學士   4,489  2,160   2,329    647    701
351       真理大學    D 日  B 學士   5,830  2,834   2,996    676    846
356       大同大學    D 日  B 學士   3,689  2,226   1,463    535    353
389       慈濟大學    D 日  B 學士   2,968  1,148   1,820    264    435
393     臺北醫學大學    D 日  B 學士   4,733  1,986   2,747    357    575
399     中山醫學大學    D 日  B 學士   6,099  2,355   3,744    461    875
427       長榮大學    D 日  B 學士   8,210  3,594   4,616    766  1,206
441     中國醫藥大學    D 日  B 學士   6,420  2,866   3,554    515    725
466       玄奘大學    D 日  B 學士   2,859  1,186   1,673    194    334
518       亞洲大學    D 日  B 學士   9,616  3,524   6,092    825  1,509
522       開南大學    D 日  B 學士   5,119  2,508   2,611    583    550
527       佛光大學    D 日  B 學士   2,970  1,380   1,590    320    425
576       明道大學    D 日  B 學士   2,819  1,608   1,211    385    272
625     台灣首府大學    D 日  B 學士   1,758    877     881    220    208
697       康寧大學    D 日  B 學士     607    287     320     30     85
730   中信金融管理學院    D 日  B 學士     588    292     296    113     84
755  稻江科技暨管理學院    D 日  B 學士   1,455    773     682    231    229
788      馬偕醫學院    D 日  B 學士     661    254     407     48    111
791     法鼓文理學院    D 日  B 學士      57     21      36      4     11
812     臺北市立大學    D 日  B 學士   5,304   2373   2,931    566    725

[70 rows x 8 columns]

In [14]:
df2 = undergraduate.loc[:,'學校名稱':'女生計'].copy()

In [15]:
#df2.女生計 / df2.男生計

In [16]:
df2.head()

        學校名稱 日間∕進修別   等級別      總計    男生計    女生計
4     國立政治大學    D 日  B 學士   9,630  3,983  5,647
8     國立清華大學    D 日  B 學士   8,689  4,696  3,993
13    國立臺灣大學    D 日  B 學士  16,604  9,447  7,157
17  國立臺灣師範大學    D 日  B 學士   8,079  3,583  4,496
21    國立成功大學    D 日  B 學士  11,390  7,123  4,267

In [17]:
import locale

#atof

In [18]:
locale.setlocale(locale.LC_NUMERIC, '')

'C'

In [19]:
#df2['男生計'] = df2['男生計'].apply(locale.atof)

In [20]:
#df2['女生計'] = df2['女生計'].apply(locale.atof)

In [21]:
#df2['女男比例'] = df.女生計 / df.男生計

In [22]:
#df2.head()

In [23]:
#df3 = df2.sort_values(by = ['女男比例'], ascending = False)

In [24]:
#df3[:20].plot.bar(x='學校名稱', y=['女男比例'])

In [25]:
#df = pd.read_html('https://browser.geekbench.com/mac-benchmarks')

In [26]:
#len(df)

In [27]:
#mac = df[0]

In [28]:
#mac.head()

In [29]:
#mac[mac.Mac.str.contains('Mid 2018')]

In [30]:
#mac[mac.Score > 5347]

In [31]:
df = pd.read_html('http://www.9800.com.tw/statistics/asp')

HTTPError: HTTP Error 404: Not Found